*{
    margin: 0;
    padding: 0;
}
.Explores{
    color: #ffffff !important;
    background: #7776B3 !important;
    background: #7776B3 !important;
    border: 2px solid #7776B3 !important;
    position: fixed;
}
.hero{
    margin: 30px;
    padding: 40px;
}
.Explore{
    color: #ffffff !important;
    background: #7776B3 !important;
    background: #7776B3 !important;
    border: 2px solid #7776B3 !important;
}
.outline{
    color: #000000 !important;
    background: #ffffff !important;
    border: 2px solid #7776B3 !important;
}
